# Resumen de la felicidad en el mundo
Este cuaderno incluye una solución rápida al trabajo de la semana 3.

## Librerías
En este caso podemos usar únicamente las librería `pandas`.

In [1]:
import pandas as pd

Podemos acceder a los datos usando la función `pd.read_csv()` y el URL de los datos.

In [2]:
felicidad = pd.read_csv('https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv')
felicidad.head()

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN

Podemos usar las funciones `min()` y `max()` para obtener los valores mínimos y máximos de la columna `anio`.

In [12]:
anio_min = felicidad['anio'].min()
anio_max = felicidad['anio'].max()
print(anio_min, anio_max)

2005 2018

Ahora podemos agrupar los datos por año y calcular la media y desviación estándar de la columna `puntaje_felicidad`.

In [13]:
prom_felicidad = felicidad.groupby('anio').escalera_vida.mean()
std_felicidad = felicidad.groupby('anio').escalera_vida.std()
felicidad_global = pd.DataFrame({'promedio': prom_felicidad, 'desviacion_standard': std_felicidad})
felicidad_global

      promedio  desviacion_standard
anio
2005  6.446164             0.919143
2006  5.196935             1.094558
2007  5.418291             1.047901
2008  5.418554             1.169434
2009  5.457640             1.029672
2010  5.496782             1.125615
2011  5.424088             1.083998
2012  5.443751             1.116592
2013  5.394568             1.180768
2014  5.389023             1.155535
2015  5.404037             1.116106
2016  5.399414             1.140608
2017  5.460421             1.140840
2018  5.502134             1.103461

In [ ]:
felicidad.

Ahora podemos usar la función `loc()` para obtener los datos de los años de nuestro interés.

In [14]:
felicidad_global = felicidad_global.loc[[anio_min, anio_max], :]
felicidad_global

      promedio  desviacion_standard
anio
2005  6.446164             0.919143
2018  5.502134             1.103461

Para acceder a los datos de países filtrar nuestros datos tal como los hemos visto en clases.

In [8]:
felicidad[felicidad.anio == 2006].pais

33       Argentina
46         Armenia
71         Austria
82      Azerbaijan
104     Bangladesh
           ...
1630    Uzbekistan
1643     Venezuela
1655       Vietnam
1679        Zambia
1691      Zimbabue
Name: pais, Length: 89, dtype: object

In [31]:
felicidad_dos = felicidad[(felicidad.pais == 'Brasil')  | (felicidad.pais == 'Australia')]
felicidad_dos.head()

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
59,Australia,2005,7.340688,10.569470,0.967892,71.400002,0.934973,NaN,0.390416,0.842648,0.238012,0.532063,1.200284,1.757166,1.527053,NaN,0.34275
60,Australia,2007,7.285391,10.613497,0.965276,71.720001,0.890682,0.338664,0.512578,0.826251,0.215351,0.526933,1.148995,1.820202,1.763631,NaN,0.34275
61,Australia,2008,7.253757,10.629381,0.946635,71.879997,0.915733,0.296854,0.430811,0.826391,0.218427,0.644675,1.161860,1.843305,1.688851,0.354,0.34275
62,Australia,2010,7.450047,10.632582,0.954520,72.199997,0.932059,0.308317,0.366127,0.834236,0.220073,0.609753,1.154313,1.815898,1.737802,0.347,0.34275
63,Australia,2011,7.405616,10.642902,0.967029,72.300003,0.944586,0.360890,0.381772,0.815860,0.195324,0.530787,1.194715,1.835444,1.775903,NaN,0.34275

Luego podemos usar la función `loc()` para obtener los datos de los años de nuestro interés.

In [32]:
felicidad_dos = felicidad_dos.loc[(felicidad_dos.anio == anio_min) | (felicidad_dos.anio == anio_max), ['pais', 'anio', 'escalera_vida']]
felicidad_dos

          pais  anio  escalera_vida
59   Australia  2005       7.340688
70   Australia  2018       7.176993
192     Brasil  2005       6.636771
204     Brasil  2018       6.190922

In [15]:
felicidad_global

      promedio  desviacion_standard
anio
2005  6.446164             0.919143
2018  5.502134             1.103461

In [21]:
felicidad_global.promedio.iloc[0]+(2*felicidad_global.desviacion_standard.iloc[0])

8.28444953699493

In [22]:
felicidad_global.promedio.iloc[0]-(2*felicidad_global.desviacion_standard.iloc[0])

4.607879007904339